<h1>Articles list:</h1>

    <%  @articles.each do |article| %>

        <h2><%= article.title %></h2> 
        <p><%= article.text %></p>
        
          <p>
            <%= link_to "Show", article_path(article) %> |
            <%= link_to "Edit", edit_article_path(article) %> | 
            <%= link_to "Destroy", article_path(article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"} %>                 
          </p>
            <p><%= article.id %></p>
            <hr />
            
<% end %>